[submodule "applications/smolagents"]
	path = applications/smolagents
	url = git@github.com:efeslab/smolagents.git
[submodule "applications/stable-diffusion-webui"]
	path = applications/stable-diffusion-webui
	url = git@github.com:AUTOMATIC1111/stable-diffusion-webui.git
[submodule "applications/whisper_streaming"]
	path = applications/whisper_streaming
	url = git@github.com:efeslab/whisper_streaming.git
[submodule "inference_backends/llama.cpp"]
	path = inference_backends/llama.cpp
	url = git@github.com:efeslab/llama.cpp.git
