accelerate
ace_tools
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anthropic
anyio
asttokens
async-timeout
attrs
audioread
azure-ai-inference
azure-core
azure-identity
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
datasets
debugpy
decorator
Deprecated
diffusers
dill
distro
docstring_parser
dpkt
exceptiongroup
executing
fastapi
filelock
fonttools
frozenlist
fsspec
googleapis-common-protos
h11
html5lib
httpcore
httpx
httpx-sse
huggingface-hub
idna
instructor
ipykernel
ipython
isodate
jedi
Jinja2
jiter
joblib
jupyter_client
jupyter_core
kiwisolver
lazy_loader
librosa
llvmlite
lxml
markdown-it-py
markdownify
MarkupSafe
matplotlib
matplotlib-inline
mcp
-e git+https://github.com/lastmile-ai/mcp-agent.git@23fbe0997615589557ff79c7d0fa5d94616ce8a2#egg=mcp_agent
mcp-server-fetch
mdurl
mpmath
msal
msal-extensions
msgpack
multidict
multiprocess
nest-asyncio
networkx
numba
numpy
openai
opentelemetry-api
opentelemetry-distro
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-anthropic
opentelemetry-instrumentation-openai
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-semantic-conventions-ai
packaging
pandas
parso
pexpect
pillow
platformdirs
pooch
prompt_toolkit
propcache
Protego
protobuf
psutil
ptyprocess
pure_eval
py3nvml
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pynvml
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
pyzmq
readabilipy
regex
requests
rich
safetensors
scikit-learn
scipy
seaborn
sentencepiece
shellingham
six
sniffio
soundfile
soupsieve
soxr
sse-starlette
stack-data
starlette
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
tornado
tqdm
traitlets
transformers
typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
wcwidth
webencodings
websockets
wrapt
xmltodict
xxhash
yarl
zipp
torch
torchvision
torchaudio
triton