chat1:
    model: models/Llama-3.2-3B-Instruct-GGUF/Llama-3.2-3B-Instruct-f16.gguf
    num_requests: 10
    device: gpu
    type: Chatbot
    mps: 100

deep1:
    server_model: models/Llama-3.2-3B-Instruct-GGUF/Llama-3.2-3B-Instruct-f16.gguf
    client_model: openai/meta-llama/Llama-3.2-3B-Instruct
    num_requests: 1
    device: gpu
    type: DeepResearch
    mps: 100

workflows:
    chat_summary:
        uses: chat1

    deep_sunmary:
        uses: deep1