Brainstorm (chatbot):
    model: models/Llama-3.2-3B-Instruct-GGUF/Llama-3.2-3B-Instruct-f16.gguf
    num_requests: 10
    device: gpu
    type: Chatbot
    mps: 33

Analysis (deep_research):
    server_model: models/Llama-3.2-3B-Instruct-GGUF/Llama-3.2-3B-Instruct-f16.gguf
    client_model: openai/meta-llama/Llama-3.2-3B-Instruct
    num_requests: 1
    device: gpu
    type: DeepResearch
    mps: 33

Preparing Outline (chatbot):
    model: models/Llama-3.2-3B-Instruct-GGUF/Llama-3.2-3B-Instruct-f16.gguf
    num_requests: 20
    device: gpu
    type: Chatbot
    mps: 33

Creating Cover Art (imagegen):
    model: /mnt/tmpfs/models/stable-diffusion-3.5-medium-turbo
    num_requests: 10
    device: gpu
    type: ImageGen
    mps: 33

Generating Captions (live_captions):
    num_requests: 1
    device: gpu
    client_command_file: datasets/whisper-earnings21/5-min-chunks/4320211_chunk_002.wav
    mps: 33
    type: LiveCaptions  

workflows:
    analysis:
        uses: Analysis (deep_research)
        background: true
    
    brainstorm: 
        uses: Brainstorm (chatbot)

    outline:
        uses: Preparing Outline (chatbot)
        depend_on: ["brainstorm", "analysis"]

    cover_art:
        uses: Creating Cover Art (imagegen)
        depend_on: ["outline"]

    generate_captions:
        uses: Generating Captions (live_captions)
        depend_on: ["outline"]
