imagegen1:
    server_model: /mnt/tmpfs/models/stable-diffusion-3.5-medium-turbo
    # server_model: CompVis/stable-diffusion-v1-4
    num_requests: 30
    device: gpu
    type: imagegen
    mps: 33

lv:
    num_requests: 1
    device: gpu
    mps: 33
    # client_command_file: datasets/whisper-earnings21/5-min-chunks/4320211_chunk_002.wav
    type: live_captions

sleep:
    num_requests: 1
    device: gpu
    mps: 100
    type: sleep

workflows:
    generate_image:
        uses: imagegen1
        # depend_on: ["sleep1"]

    sleep1:
        uses: sleep

    transcript:
        uses: lv
        depend_on: ["sleep1"]
