imagegen1:
    model: /mnt/tmpfs/models/stable-diffusion-3.5-medium-turbo
    # server_model: CompVis/stable-diffusion-v1-4
    num_requests: 20
    device: gpu
    type: ImageGen
    mps: 100

lv:
    num_requests: 1
    device: gpu
    mps: 100
    client_command_file: datasets/whisper-earnings21/5-min-chunks/4320211_chunk_002.wav
    type: LiveCaptions

chat1:
    model: models/Llama-3.2-3B-Instruct-GGUF/Llama-3.2-3B-Instruct-f16.gguf
    num_requests: 50
    device: gpu
    type: Chatbot
    mps: 100

workflows:
    generate_image:
        uses: imagegen1

    transcript:
        uses: lv

    chat_summary:
        uses: chat1